@model IEnumerable<IMDeanyP.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PersonFname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonSname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonDesc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonImage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PersonFname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonSname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonDescTrimmed)
        </td>
        <td>
            @if  (item.PersonImage != null)
            {
                <img src="@Url.Content(item.PersonImage)" width="100" />
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PersonId }) |
            @Html.ActionLink("Details", "Details", new { id=item.PersonId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PersonId })
        </td>
    </tr>
}

</table>
