@model IMDeanyP.Models.ViewModels.FilmReviewViewModel

@{
    ViewBag.Title = "Details";
}

<script type="text/javascript">
    $(document).ready(function() {
        //for each of the Rating dropdowns...
        $('.Rating').each(function() {
            //get the value of the id from the hidden field
            //next to it
            var selectedId = $(this).next().val();
            //now apply this as the selected id to the current
            //dropdown box
            $(this).val(selectedId);
        });
        //now apply the plugin and set to readonly
        $('.Rating').barrating({
            theme: 'fontawesome-stars',
            readonly: true
        });
    });
</script>

<h2>Details</h2>

<div>
    <h4>Review</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Film.FilmTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Film.FilmTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review.ReviewUname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review.ReviewUname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review.ReviewContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Review.ReviewContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Review.ReviewRating)
        </dt>

        <dd>
            <select class="Rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>

            <input type="hidden" class="initialRating"
                   value="@Model.Review.ReviewRating" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Go to Film", "Details", "FIlms", new { id = Model.Review.FilmID}, null) |
    @Html.ActionLink("Edit", "Edit", new { id = Model.Review.ReviewID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
