@model IEnumerable<IMDeanyP.Models.ViewModels.FilmReviewViewModel>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(document).ready(function() {
        //for each of the Rating dropdowns...
        $('.Rating').each(function() {
            //get the value of the id from the hidden field
            //next to it
            var selectedId = $(this).next().val();
            //now apply this as the selected id to the current
            //dropdown box
            $(this).val(selectedId);
        });

        //now apply the plugin and set to readonly
        $('.Rating').barrating({
            theme: 'fontawesome-stars',
            readonly: true
        });
    });
</script>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Film.FilmTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review.ReviewUname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review.ReviewContent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Review.ReviewRating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Film.FilmTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review.ReviewUname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Review.ReviewContent)
        </td>
        <td>
            <select class="Rating">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
            <input type="hidden" class="initialRating" value="@item.Review.ReviewRating" />
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Review.ReviewID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Review.ReviewID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Review.ReviewID })
        </td>
    </tr>
}

</table>
